html {
    height: 100%;
    background: linear-gradient(gainsboro, grey) no-repeat;
    background: url("images/background.jpg") no-repeat;
}
body {
    max-width: 600px;
    margin: auto;
}

#content {
    background-color: white;
}

/* Top Navigation Bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    margin: auto;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }